
 /* .socials{
  border-left: 6px solid green;
  height: 200px;
} */
body{
  background-color: #ddd
  
}

#main{
  background-color: #eee;
}
#nav{
  background-color: #2d2654;
  }
.nav-item{
  font-family: 'Roboto', sans-serif;
  
  
}


#spacers{
  background-color: #2d2654;
}

#navholder{
  background-color: #2d2654;
}

#main{
  max-width: 65rem;
  border: solid 1px #ccc;
}
hr{
  border-top: dotted #ccc;
}
#rightside{
  border-left: dotted #ccc;
}
#footer{
  
  max-width: 70%;
  
  
 
}

#footer a{
  text-decoration: none;
  color: black;
  font-weight: bold;

}
 
 
 .twitter-timeline {
  margin: 2rem 0 0 0;
  
}
.twitter-widget{
  height: auto;
  border: solid 1px #ccc;
  border-radius: 5px;
}
#tweets {
  margin: 0 0 2rem 1rem;
  font-size: 12px;
  margin-left: 0;
} 

#inLinks{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.git{
  text-decoration: none; color: #000;
}
.reddit{
  text-decoration: none; color: #000;
}
.twitter{
  text-decoration: none; color: #000;
}


.card{
  width: 100%;
  

}

.card-title{
  text-align: center;
  
}
.list-group-item{
text-align: center;
}
#info{
  text-decoration: none; color: black;
  font-weight: bold;
  
}


.card-footer{
  text-align: right;
}





