
 /* .socials{
  border-left: 6px solid green;
  height: 200px;
} */
body{
  background-color: #eee;
}
#nav{
  background-color: #2d2654;
  
}

#spacers{
  background-color: #2d2654;
}

#navholder{
  background-color: #2d2654;
}

#main{
  max-width: 70%;
  border: solid 1px #ccc;
}
hr{
  border-top: dotted #ccc;
}
#rightside{
  border-left: dotted #ccc;
}
#footer{
  
  max-width: 70%;
  
  
 
}

#footer a{
  text-decoration: none;
  color: black;
  font-weight: bold;

}
 




